<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="ion-text-center">
      <h1>Chuck Translator</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
     <ion-input
         type="text"
         fill="solid"
         label="Czech Text for translation"
         labelPlacement="floating"
         helperText="Test Chuck's knoledge of Czech..."
         errorText="input some Czech..."
         [(ngModel)]="userInput"
         ></ion-input>
    </ion-card-content>
 
   </ion-card>
 
   <ion-button (click)="translateClicked()"
   expand="block" color="success" size="medium" class="ion-margin">Translate</ion-button>
 
   <ion-card *ngIf="translationOutput$ | async; let output" color="warning">
    <ion-card-content>
      {{ output.responseData.translatedText }}
    </ion-card-content>
  </ion-card>

</ion-content>