<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <h1>Nuck Chorris App :-)</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      This app is here to make you smile
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-content>
        <p #contentContainer>show a joke by clicking bellow</p>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="quoteClicked()" color="warning" size="medium" expand="block">New Joke</ion-button>
</ion-content>
