<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <h1>Task-Depository</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Get inspired by a cool quote and deposit your tasks to free up your brain storage.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-content>
        <p #contentContainer></p>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="quoteClicked()" color="medium" size="small" expand="block">New Quote</ion-button>
</ion-content>
