<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <h1>About & History</h1>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>About this App:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This app was created in November 2023 for the AK5PM class at University of Tomas Bata in Zlin. 
      <br>
      It features tab structure, use of rest api and storage. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>History of jokes:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-list>
        <ion-item  *ngFor="let history of storedData">
          <ion-label>
            {{ history }}
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>